$white_color: hsl(0, 0%, 100%);

$users_height: 100vh;
$users_title_size: 0;

$users_list_color_grey: hsl(204, 8%, 76%);
$users_list_user_hover_background_color: hsl(212, 12%, 24%);

$users_background_color: hsl(220, 5%, 12%);

$search_input_height: 50px;
$search_input_padding: 8px;

$search_input_control_background_color: hsl(212, 11%, 27%);
$search_input_control_color: hsl(203, 15%, 83%);
$search_input_control_padding: 5px 10px;
$search_input_control_border_radius: 8px;

$users_list_margin: 25px 0 0;
$users_list_min_width: 300px;
$users_list_max_height: 93vh;
$users_list_base_font_size: 16px;
$users_list_base_line_height: 24px;
$users_list_base_text_shadow: 0 0 0.5px;
$users_list_title_padding: 20px;

$user_height: 65px;
$user_width: 100%;
$user_logo_size: 50px;
$user_logo_padding: 5px 0 5px 10px;
$user_selected_background: hsl(262, 32%, 49%);

$scroll_bar_width: 3.5px;
$scroll_bar_track_background: hsl(207, 7%, 26%);
$scroll_bar_track_background_hover: hsl(207, 6%, 32%);
$scroll_bar_thumb_background: hsl(200, 4%, 54%);

.users {
  background-color: $users_background_color;
  height: $users_height;
  max-height: $users_height;
}

.users__title {
  font-size: $users_title_size;
  width: $users_title_size;
  height: $users_title_size;
  overflow: hidden;
}

.users__wrapper {
  display: flex;
}

.search-input {
  height: $search_input_height;
  padding: $search_input_padding;
}

.search-input__control {
  width: $user_width;
  height: 100%;
  background-color: $search_input_control_background_color;
  color: $search_input_control_color;
  padding: $search_input_control_padding;
  border: none;
  outline: none;
  border-radius: $search_input_control_border_radius;
}

.users__list {
  min-width: $users_list_min_width;
  max-height: $users_list_max_height;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: $scroll_bar_width;
  }

  &::-webkit-scrollbar-track {
    background: $scroll_bar_track_background;
  }

  &::-webkit-scrollbar-thumb {
    background: $scroll_bar_thumb_background;
    border-radius: 25px;
  }

  &::-webkit-scrollbar-track:hover {
    background: $scroll_bar_track_background_hover;
  }
}

.users-list__user {
  width: $user_width;
  height: $user_height;
  display: flex;
  align-items: center;
  font-size: $users_list_base_font_size;
  line-height: $users_list_base_line_height;
  color: $white_color;
  white-space: nowrap;

  &:hover {
    background-color: $users_list_user_hover_background_color;
    text-shadow: $users_list_base_text_shadow;
    cursor: pointer;
    outline: none;
  }
}

.users-list__logo {
  width: $user_logo_size;
  height: $user_logo_size;
  padding: $user_logo_padding;
}

.users-list__title {
  padding: $users_list_title_padding;
}

.active {
  background-color: $user_selected_background;

  &:hover {
    background-color: $user_selected_background;
  }
}

.users__third-column {
  width: 100%;
}

.users__chat-field {
  background: url("../../../../../assets/img/main-bg.jpg") center/cover;
  width: 100%;
  height: calc(100vh - 50px);
}

.message {
  color: hsl(35deg, 18%, 79%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
