<section class="users">
  <h1 class="users__title">{{ 'APP.MY_USERS.TITLE' | translate }}</h1>
  <div class="users__wrapper">
    <gc-sidebar></gc-sidebar>

    <div class="users__second-column">
      <div class="search-input">
        <input
          type="text"
          placeholder="Search"
          class="search-input__control"
          [(ngModel)]="searchTerm"
          (input)="searchUser(searchTerm)"
        />
      </div>

      <ul class="users__list users-list" *ngIf="usersList$ | async as userList">
        <li
          *ngFor="let user of userList"
          class="users-list__user"
          [ngClass]="{'active': isActiveCurrentItem(user.id) }"
          (click)="chooseUser(user.id)">
          <div class="users-list__logo">
            <img src="../../../../../assets/img/users-avatar.png" alt="user avatar" />
          </div>
          <h4 class="users-list__title">{{ user.name }}</h4>
        </li>
      </ul>
    </div>

    <div class="users__third-column" *ngIf="isUserSelected; else noSelectedUser">
      <app-chat-header [selectedUser]="selectedUser$ | async"></app-chat-header>
      <div class="users__chat-field"></div>
    </div>

    <ng-template #noSelectedUser>
      <div class="users__third-column">
        <span class="message">Select a chat to start messaging</span>
      </div>

    </ng-template>
  </div>
</section>
