img {
  max-width: 100%;
  height: auto;
}

.ds-icon svg {
  vertical-align: top;
}

.disabled-section * {
  pointer-events: none;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
