<section class="page-not-found">
  <h1 class="page-not-found__title">{{ 'APP.PAGE_NOT_FOUND.404' | translate }}</h1>
  <p class="page-not-found__message">{{ 'APP.PAGE_NOT_FOUND.MESSAGE' | translate }}</p>
  <div class="page-not-found__cat cat">
    <div class="cat__ears">
      <div class="cat__ears_left ear"></div>
      <div class="cat__ears_right ear"></div>
    </div>
    <div class="cat__face">
      <div class="cat__eyes">
        <div class="cat__eyes_left eye">
          <div class="eye__pupil"></div>
        </div>
        <div class="cat__eyes_right eye">
          <div class="eye__pupil"></div>
        </div>
      </div>
      <div class="cat__nose"></div>
    </div>
  </div>

  <button class="page-not-found__more-info">More info</button>
</section>
