$white_color: hsl(0, 0%, 100%);

$users_height: 100vh;
$users_title_size: 0;

$users_list_color_grey: hsl(204, 8%, 76%);
$users_list_user_hover_background_color: hsl(212, 12%, 24%);

$users_background_color: hsl(200, 5%, 12%);

$users_list_margin: 25px 0 0;
$users_list_base_font_size: 16px;
$users_list_base_line_height: 24px;
$users_list_base_text_shadow: 0 0 0.5px;
$users_list_title_padding: 20px;

$user_height: 65px;
$user_width: 100%;
$user_logo_size: 50px;
$user_logo_padding: 5px 0 5px 10px;

.users {
  background-color: $users_background_color;
  height: $users_height;
  max-height: $users_height;
}

.users__title {
  font-size: $users_title_size;
  width: $users_title_size;
  height: $users_title_size;
  overflow: hidden;
}

.users__wrapper {
  display: flex;
}

.search-input {
  height: 50px;
  padding: 8px;
}

.search-input__control {
  width: $user_width;
  height: 100%;
  background-color: hsl(212, 11%, 27%);
  color: hsl(203, 15%, 83%);
  padding: 5px 10px;
  border: none;
  outline: none;
  border-radius: 8px;
}

.users__list {
  min-width: 300px;
  max-height: 93vh;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 3.5px;
  }

  &::-webkit-scrollbar-track {
    background: hsl(207, 7%, 26%);
  }

  &::-webkit-scrollbar-thumb {
    background: hsl(200, 4%, 54%);
    border-radius: 25px;
  }

  &::-webkit-scrollbar-track:hover {
    background: hsl(207, 6%, 32%);
  }
}

.users-list__user {
  width: $user_width;
  height: $user_height;
  display: flex;
  align-items: center;
  font-size: $users_list_base_font_size;
  line-height: $users_list_base_line_height;
  color: $white_color;
  white-space: nowrap;

  &:hover {
    background-color: $users_list_user_hover_background_color;
    text-shadow: $users_list_base_text_shadow;
    cursor: pointer;
    outline: none;
  }
}

.users-list__logo {
  width: $user_logo_size;
  height: $user_logo_size;
  padding: $user_logo_padding;
}

.users-list__title {
  padding: $users_list_title_padding;
}
