$white_color: hsl(0, 0%, 100%);

$users_list_color_grey: hsl(204, 8%, 76%);
$users_list_user_hover_background_color: hsl(197, 87%, 39%);

$users_background_color: hsl(200, 5%, 12%);

$users_list_base_font_size: 16px;
$users_list_base_line_height: 24px;
$users_list_base_text_shadow: 0 0 0.5px;
$users_list_title_padding: 23px 20px;

$user_height: 70px;
$user_width: 280px;
$user_logo_size: 50px;
$user_logo_padding: 10px 0 10px 10px;

.users {
  background-color: $users_background_color;
  height: 100vh;
  max-height: 100vh;
}

.users__wrapper {
  display: flex;
}

.users__list {
  height: 100vh;
  overflow-y: scroll;
}

.users-list__user {
  width: $user_width;
  height: $user_height;
  display: flex;
  align-items: center;
  font-size: $users_list_base_font_size;
  line-height: $users_list_base_line_height;
  color: $white_color;
  white-space: nowrap;
  cursor: pointer;

  &:hover {
    background-color: $users_list_user_hover_background_color;
    text-shadow: $users_list_base_text_shadow;
    outline: none;
  }
}

.users-list__logo {
  width: $user_logo_size;
  height: $user_logo_size;
  padding: $user_logo_padding;
}

.users-list__title {
  padding: $users_list_title_padding;
}
