$users_list_color_grey: hsl(204, 8%, 76%);
$users_list_user_hover_background_color: hsl(180, 100%, 94%);

.users__list {
  margin: 25px 0;
}

.users-list {
  width: 300px;
  box-shadow: 1px 0 0 $users_list_color_grey, -1px 0 0 $users_list_color_grey;
}

.users-list__user {
  font-size: 16px;
  border-bottom: 1px solid $users_list_color_grey;
  height: 48px;
  width: 100%;
  padding: 5px 0;
  white-space: nowrap;
  cursor: pointer;

  &:first-child {
    border-top: 1px solid $users_list_color_grey;
  }

  &:hover {
    background-color: $users_list_user_hover_background_color;
    text-shadow: 0 0 0.5px;
    outline: none;
  }
}
