<div class="message-field">
  <button class="attach-menu__button">
    <img src="assets/img/attach.svg" alt="Attach menu button">
  </button>

  <div class="message-field__input-text">
    <input class="message-field__input-field" type="text" placeholder="Write a message...">
  </div>

  <button class="message-field__smiley-button">
    <img src="assets/img/smiley.svg" alt="Choose smiley button">
  </button>

  <button class="message-field__voice">
    <img src="assets/img/microphone-recorder.svg" alt="Record voice message">
  </button>
</div>
