$chat_header_height: 50px;
$chat_header_border: 0.1px solid #282d33;

$chat_header_main_info_padding: 5px 15px;

$chat_header_title_color: hsl(35, 18%, 79%);

$chat_header_online_info_color: hsl(0, 0%, 50%);

$chat_header_options_padding: 13px;
$chat_header_option_width: 40px;

$border_none: none;

.chat-header {
  height: $chat_header_height;
  border: $chat_header_border;
  border-top: $border_none;
  border-right: $border_none;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover {
    cursor: pointer;
  }
}

.chat-header__main-info {
  padding: $chat_header_main_info_padding;
}

.chat-header__title {
  font-size: 14px;
  line-height: 24px;
  color: $chat_header_title_color;
}

.chat-header__online-info {
  color: $chat_header_online_info_color;
  font-size: 13px;
}

.chat-header__options {
  padding-right: $chat_header_options_padding;
  display: flex;
  align-items: center;
  height: 100%;
}

.chat-header-option {
  width: $chat_header_option_width;
  height: 100%;
  border: $border_none;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    height: 22px;
    width: 22px;
  }

  &:before {
    content: '';
    width: 0;
    height: 0;
    opacity: 0;
  }

  &:hover {
    cursor: pointer;

    img {
      filter: brightness(1.5);
    }
  }
}

.active-option {
  position: relative;

  img {
    filter: brightness(1.5);
  }

  &:before {
    content: '';
    width: 100%;
    height: 40px;
    background: #303d45;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 1;
    transform: translate(-50%, -50%);
    transition: opacity 0.8s, height 0.4s, width 0.4s;
  }
}
