$white_color: hsl(0, 0%, 100%);

$btn_close_size: 16px;

.more-info {
  position: absolute;
  left: 50%;
  bottom: 15%;
  transform: translateX(-50%);
  height: 90px;
  width: 450px;
  background-color: black;
  padding: 8px;
}

.more-info__message {
  color: $white_color;
  text-align: center;
  max-width: 90%;
  overflow: hidden;
}

.more-info__btn-close {
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
