@import '../../../../../assets/scss/mixins/option-state';

$chat_header_option_width: 40px;

$border_none: none;

$users_background_color: hsl(220, 5%, 12%);

:host {
  height: 100%;
}

.chat-header-option {
  width: $chat_header_option_width;
  height: 100%;
  position: relative;
  border: $border_none;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    height: 22px;
    width: 22px;
  }

  &:before {
    @include not-active-option;
  }

  &:hover {
    cursor: pointer;

    img {
      filter: brightness(1.5);
    }
  }
}

.active-option {
  img {
    filter: brightness(1.5);
  }

  &:before {
    @include active-option;
  }
}
