<button
  *ngIf="!isCustomOption; else customOption"
  class="chat-header-option"
  (click)="handleOptionClick()"
  [ngClass]="{ 'active-option': isOptionSelected }"
>
  <img [src]="imagePath" [alt]="imageAlt" />
</button>

<ng-template #customOption>
  <button
    *ngIf="isCustomActiveOption; else dropdownTemplate"
    class="chat-header-option"
    (click)="handleOptionClick()"
  >
    <img *ngIf="!isCustomOptionActive; else activeOption" [src]="imagePath" [alt]="imageAlt" />
    <ng-template #activeOption>
      <img src="assets/img/user-profile-active.svg" [alt]="imageAlt" />
    </ng-template>
  </button>
</ng-template>

<ng-template #dropdownTemplate>
  <div class="chat-menu-dropdown" (clickOutside)="closeDropdown()">
    <button
      class="chat-header-option chat-menu-dropdown__toggle"
      (click)="handleOptionDropdownClick()"
      [ngClass]="{ 'active-option': isOptionSelected && isDropdownOpen }"
    >
      <img [src]="imagePath" [alt]="imageAlt" />
    </button>
    <div class="chat-menu-dropdown__content" *ngIf="isDropdownOpen">
      <ul class="chat-menu-dropdown__items-list">
        <li
          *ngFor="let item of chatMenuOptions; let i = index"
          (click)="executeDropdownOption(i, $event)"
          class="chat-menu-dropdown__item"
        >
          <span [innerHTML]="item.name"></span>
        </li>
      </ul>
    </div>
  </div>
</ng-template>
