<button
  *ngIf="!isCustomOption; else customOption"
  class="chat-header-option"
  (click)="handleOptionClick()"
  [ngClass]="{ 'active-option': isOptionSelected }"
>
  <img [src]="imagePath" [alt]="imageAlt" />
</button>

<ng-template #customOption>
  <button
    *ngIf="isCustomActiveOption; else dropdownTemplate"
    class="chat-header-option"
    (click)="handleOptionClick()"
  >
    <img *ngIf="!isCustomOptionActive; else activeOption" [src]="imagePath" [alt]="imageAlt" />
    <ng-template #activeOption>
      <img src="assets/img/user-profile-active.svg" [alt]="imageAlt" />
    </ng-template>
  </button>
</ng-template>

<ng-template #dropdownTemplate>
  <gc-dropdown
    [dropdownList]="chatMenuOptions"
    (chosenOption)="executeDropdownOption($event)"
  ></gc-dropdown>
</ng-template>
